h1 {
	font-size: 29px;
	font-family: "Rubik Mono One", sans-serif;
	color: DodgerBlue;
	padding-top: 8px;
	padding-bottom: 8px
}

	
html {
	text-align: center;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

body {
	font-family: "Courier New";
}

.censeur {
	background-color: Black;
}

#les {
	position: relative;
	left: 0px;
}

.quote:hover {
	font-size: 968px;
	background-color: DarkRed;
}

#czch {
	color: LightSeaGreen;
}
